/*
.HistoryList svg {
    margin-bottom:0px;
}
.HistoryList td {
    padding-right:10px;
}
.HistoryItemHeader {
    font-size:10px;
    margin-bottom:5px;
}
*/

.HistoryList {
    display:flex;
    flex-wrap: wrap;
}

.HistoryItemHeader {
    font-size:10px;
    margin-bottom:5px;
}

.HistoryList svg {
    margin-bottom:0px;
}

.HistoryItem {
    padding-right:10px;
    margin-bottom:5px;
}
